.image-detail {
    border: 2px solid gray;
    border-radius: 10px;
    background-color: rgb(206, 197, 196);
}

img {
    padding: 20px;
}

span {
    color: blue;
    font-size: 250%;
    padding-bottom: 1em;
}

.row {
    margin: 30px;
}

h1 {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

button {
    width: 13em;
    font-size: 1.5em;
    border-radius: 10px;
    margin-top: 20px;
}